@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
}

/* COMMON BLOCKS */

.main-container {
  max-width: 1660px;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.masked {
  position: relative;
  z-index: 0;
}

.masked::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* HEADINGS */

.heading2 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.heading3 {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.heading_decorative {
  position: relative;
  text-align: center;
}

.heading_decorative::after {
  position: absolute;

  content: "";
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  opacity: 0.4;
  bottom: -13px;
  left: calc(50% - 33px);
}

/* SOCIALS */

.socials {
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.socials__item {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__icon:hover {
  opacity: 0.56;
}

/* TITLE */

.title {
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}

/* MENU */

.menu__list {
  display: flex;
  width: 100%;
  justify-content: space-between;

  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;

  list-style-type: none;
}

.menu__item {
  margin-right: 35px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  color: inherit;
  text-decoration: none;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}

.icon {
  position: relative;
  height: 3px;
  width: 100%;
  background-color: #ffffff;
}

.icon:before {
  content: "";
  position: absolute;
  top: 8px;
  height: 3px;
  width: 100%;
  background-color: inherit;
}

.icon:after {
  content: "";
  position: absolute;
  top: 16px;
  height: 3px;
  width: 100%;
  background-color: inherit;
}

.menu__line {
  height: 3px;
  width: 100%;
  background-color: #ffffff;
}

/* FORM ELEMENTS */

.input-field {
  padding: 14px;

  border: none;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.54;
  color: #000000;
  background-color: #f4f7f6;
  border: 1px solid transparent;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.input-field:focus {

  border: 1px solid #b59f5b;
  background-color: #f4f7f6;
  outline: none;
}

.button {
  display: block;
  padding-top: 15px;
  padding-bottom: 19px;

  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  background-color: #b59f5b;
  color: #ffffff;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.button:hover {

  background-color: #323232;
  outline: none;
}

/* HEADER */

.header {
  display: flex;

  background-color: #767e77;
  background-size: cover;
  background-repeat: no-repeat;
}

.header::after {
  background-color: #000000;
  opacity: 0.6;
}

.header__header {
  display: flex;
  margin: 0 auto;
}

/* TRENDS */

.trends__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trend1 {
  background-image: url("../images/trend1.jpg");
}

.trend2 {
  background-image: url("../images/trend2.jpg");
}

.trend3 {
  background-image: url("../images/trend3.jpg");
}

.trend4 {
  background-image: url("../images/trend4.jpg");
}

/* TREND */

.trend {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: end;

  padding: 16px 20px;

  margin-bottom: 1px;
  background-color: #767e77;
  background-repeat: no-repeat;
  background-size: cover;
}

.trend::after {
  z-index: -1;
  background-color: #000000;
  opacity: 0.6;
}

.trend__heading {
  color: #ffffff;
}

.trend__link {
  color: inherit;
  text-decoration: none;
}

.trend__link:hover {
  color: #b59f5b;
  text-decoration: none;
}

.trend__text {
  border: 3px solid #b59f5b;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
}

/* TAGS */

.tags {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  color: #b59f5b;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.tags__item {
  margin-right: 20px;
}

.tags__link {
  color: inherit;
  text-decoration: none;
}

.tags__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* BLOG */

.blog {
  display: flex;
}

/* POST */

.post {
  display: flex;
}

.post__link {
  color: #0f0d0e;
  text-decoration: none;
}

.post__link:hover {
  color: #b59f5b;
  text-decoration: none;
}

.post__info {
  display: flex;
  flex-wrap: wrap;
}

.post__date {
  color: #888888;
}

.post__author {
  font-weight: bold;
}

.post__image {
  flex-shrink: 0;
}

/* LATEST */

.latest-post__header {
  margin-bottom: 40px;
}

.latest-posts__list-item {
  display: flex;
  gap: 19px;
  margin-bottom: 22px;
}

.latest-posts__list-item:last-child {
  margin-bottom: 0;
}

.latest-posts__list-image {
  flex-shrink: 0;
  display: block;
  width: 70px;
  height: 70px;
}

.latest-posts__list-date {
  opacity: 0.54;
  color: #000000;
  font-family: "Open Sans";
  font-size: 12px;
}

/* SIDEBAR FORM */

.search__form {
  display: flex;
}

.search__input {
  width: 100%;
}

.search__button {
  width: 55px;

  background-image: url("../svg/search.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 18px;
}

.subscription__input {
  width: 100%;
  margin-bottom: 15px;
}

.subscription__btn {
  width: 100%;
}

/* TAGS-BLOCK */

.tags-block__list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.tags-block__link {
  display: block;
  border: 2px solid #f4f3f1;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

.tags-block__link:hover {
  border: 2px solid #b59f5b;
}

/* TOPICS */

.topics__header {
  margin-bottom: 25px;
}

.topics__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.topics__item {
  border-bottom: 1px solid #eeeeee;;
}

/* TOPIC */

.topic {
  display: flex;
  flex-direction: row;

  position: relative;
  padding: 16px 0 14px;

  font-size: 14px;
  font-weight: bold;
}

.topic__counter {
  position: relative;
  top: -4px;
  left: 5px;

  color: #b59f5b;
  font-size: 12px;
}

.topic__link {
  color: inherit;
  text-decoration: none;
}

.topic__link:hover {
  color: #b59f5b;
  text-decoration: none;
}

/* SHOP */

.shop-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop__header {
  margin-bottom: 40px;
}

.shop-list__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;

  margin-top: -32px;
}

.shop-list__image {
  flex-shrink: 0;
  position: relative;
  top: 32px;
  z-index: -1;
}

.broken-image-placeholder:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline: #eeeeee solid 1px;
  outline-offset: -2px;
  z-index: -1;
}

.shop-list__buy {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.shop-list__price {
  font-size: 20px;
  font-weight: 700;
}

.shop-list__old-price {
  position: absolute;
  bottom: 26px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;
}

.shop-list__btn {
  height: 49px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 27px;

  cursor: pointer;
}

.shop__link {
  color: #b59f5b;
}

/* FOOTER */

.social-block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  background-color: #f4f7f6;
}

/* COPYRIGHT */

.copyright {
  color: #999999;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
}

/* POPUP*/

.popup {
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  justify-content: center;
  align-items: center;
}

.popup::after {
  background-color: #000000;
  opacity: 0.6;
}

.popup__container {
  position: relative;

  max-width: 391px;
  max-height: 630px;
  width: 90%;

  padding-top: 6px;

  margin: auto;
}

.popup__close {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-indent: -9999px;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.popup__close::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  background-image: url("../svg/form-x.svg");
  background-size: cover;
}

/* SURVEY */

.survey {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.survey__header {
  font-weight: bold;
}

.survey__form {
  font-size: 13px;
}

.survey__column {
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
}

.survey__textarea {
  height: 132px;
  padding: 20px;
  resize: none;
}

.survey__select {
  position: relative;
  height: 44px;
  padding-left: 20px;

  background-image: url("../svg/form-arrows.svg");
  background-size: 9px 18px;
  background-repeat: no-repeat;
  background-position: right 12px center;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.survey__button {
  width: 100%;
  position: relative;
}

.radio {
  transform: scale(0);
}

.radio__text {
  position: relative;
}

.radio__text::before {
  content: "";
  position: absolute;

  opacity: 1;
  background-image: url("../svg/form-empty-circle.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.radio:checked+.radio__text::before {
  background-image: url("../svg/form-circle.svg");
}

/* MOBILE */

@media screen and (max-width: 640px) {
  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .logo__image {
    width: 269px;
  }

  .title {
    font-size: 26px;
    line-height: 36px;
  }

  .sidebar__heading {
    font-size: 16px;
  }

  /* menu menu */

  .menu__list {
    display: none;
  }

  /* mobile header */

  .header {
    flex-direction: column;
    padding: 30px 16px;

    background-image: url("../images/banner-mobile.jpg");
  }

  .header__header {
    flex-direction: column;
    width: 100%;
  }

  .header__menu {
    align-self: end;
  }

  .header__logo {
    order: 1;
    align-self: center;

    margin-top: 170px;
  }

  .header__title {
    width: 100%;
    margin: auto auto;
    padding: 30px 0 185px;
  }

  /* mobile trends */

  .trends__header {
    padding-top: 38px;
    padding-bottom: 35px;
  }

  /* mobile trend */

  .trend__background {
    width: 100%;
    height: 100%;
  }

  .trend__tags {
    margin-bottom: 10px;
  }

  .trend__text {
    padding: 33px 12px 25px;
  }

  /* mobile blog */
  .blog {
    flex-direction: column;
    padding-top: 40px;
  }

  /* mobile post */

  .post {
    position: relative;
    flex-direction: column;
    margin-bottom: 53px;
  }

  .post::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: -17px;

    background-color: #eeeeee;

  }

  .post__image {
    width: 100%;
    height: 77%;
    margin-bottom: 5px;
  }

  .post__tags {
    margin-bottom: 7px;
  }

  .post__heading {
    margin-bottom: 20px;
  }

  .post__info {
    margin-bottom: 15px;

    font-size: 12px;
  }

  .post__date {
    margin-right: 10px;
  }

  .post__text {
    font-size: 14px;
    line-height: 22px;
  }

  /* mobile sidebar */
  .sidebar {
    margin-bottom: 0;
  }

  .sidebar__block {
    margin-bottom: 62px;
  }

  .search-block {
    margin-bottom: 44px;
    ;
  }

  /* mobile subscription */

  .subscription__header {
    margin-bottom: 37px;
  }

  .subscription__input {
    margin-bottom: 20px;
  }

  .subscription-block {
    margin-bottom: 40px;
  }

  /* mobile tags-block */
  .tags-block__header {
    margin-bottom: 38px;
  }

  .tags-block__item {
    margin-bottom: 6px;
    margin-right: 7px;
  }

  .tags-block__link {
    padding: 5px 12px;
    font-size: 12px;
  }

  .tags-block {
    margin-bottom: 38px;
  }

  .topics {
    margin-bottom: 40px;
  }

  /* mobile shop */

  .shop-list__item {
    width: 100%;
    margin-bottom: 23px;
  }

  .shop-list__image {
    width: 285px;
    height: 285px;
  }

  .shop-list__product-block {
    padding: 47px 20px 25px;
    border: 3px solid #b59f5b;

    height: 100%;
  }

  .shop-list__title {
    margin-bottom: 5px;
  }

  .shop-list__description {
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 15px;
  }

  .shop-list__price {
    padding-bottom: 5px;
  }

  /* .shop-item1 {
    background-image: url("../images/shop-item-mobile1.jpg");
  } */

  /* .shop-item2 {
    background-image: url("../images/shop-item-mobile2.jpg");
  } */

  /* .shop-item3 {
    background-image: url("../images/shop-item-mobile3.jpg");
  } */

  /* mobile footer */

  .footer {
    padding-top: 20px;
  }

  .copyright {
    padding-top: 47px;
    padding-bottom: 43px;
    font-size: 12px;
  }

  /* mobile popup */

  .popup__close::before {
    height: 25px;
    width: 25px;
  }

  .popup__close::before {
    top: -7px;
    right: 0;
  }

  /* mobile survey */

  .survey {
    padding: 20px 20px 30px;
  }

  .survey__header {
    margin-bottom: 40px;
  }

  .frequency-block {
    margin-bottom: 35px;
  }

  .is-subscribed-block {
    margin-bottom: 33px;
  }

  .topics-block {
    margin-bottom: 25px;
  }

  .label {
    margin-bottom: 10px;
  }

  .radio__text {
    padding-left: 20px;
  }

  .radio-group {
    padding-top: 10px;
    margin-right: 30px;
  }

  .radio-group:last-child {
    margin-right: 0;
  }

  .radio__text::before {
    top: -5px;
    left: -12px;
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-height: 640px) and (orientation: landscape) {
  .trend {
    min-height: 232px;
    width: calc((100% - 3px) / 2);
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .trend {
    min-height: 232px;
    width: 100%;
    margin-bottom: 2px;
  }
}




/* TABLET */

@media screen and (min-width: 641px) and (max-width: 1200px) {
  .wrapper {
    padding-left: 35px;
    padding-right: 35px;
  }

  .heading2 {
    font-size: 17px;
    line-height: 22px;
  }

  /* tablet logo */

  .logo__image {
    width: 158px;
  }

  /* tablet title */

  .title {
    font-size: 40px;
    line-height: 55px;
  }

  /* tablet menu */

  .menu__list {
    display: none;
  }

  /* tablet header */

  .header {
    flex-direction: column;
    padding: 43px 0;

    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .header__header {
    justify-content: space-between;
    align-items: center;
  }

  .header__title {
    width: 100%;
    margin: auto auto;
    padding: 85px 0 70px;
  }

  /* tablet trends */

  .trends__header {
    padding-top: 48px;
    padding-bottom: 30px;
  }

  /* tablet trend */
  .trend__background {
    width: 100%;
    height: 100%;
  }

  .trend__tags {
    margin-bottom: 7px;
  }

  .trend__text {
    padding: 33px;
  }

  /* tablet blog */
  .blog {
    justify-content: space-between;
    padding-top: 43px;
  }

  .posts {
    width: 56%;
  }

  .sidebar {
    width: 39%;
  }

  .sidebar__block {
    margin-bottom: 62px;
  }

  /* tablet post */
  .post {
    position: relative;
    flex-direction: column;
    margin-bottom: 63px;
  }

  .post::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: -25px;

    background-color: #eeeeee;

  }

  .post:last-child:after {
    content: "";
    position: absolute;
    height: 0;
    width: 100%;
    bottom: -25px;

    background-color: #eeeeee;

  }

  .post__image {
    width: 100%;
    margin-bottom: 7px;
  }

  .post__tags {
    margin-bottom: 9px;
  }

  .post__heading {
    margin-bottom: 32px;
  }

  .post__info {
    margin-bottom: 28px;

    font-size: 12px;
  }

  .post__date {
    margin-right: 10px;
    font-size: inherit;
  }

  .post__text {
    font-size: 15px;
    line-height: 22px;
  }

  /* tablet subscription */

  .subscription__header {
    margin-bottom: 35px;
  }

  .subscription__input {
    margin-bottom: 20px;
  }

  .subscription-block {
    margin-bottom: 56px;
  }

  /* tablet tags-block */
  .tags-block__header {
    margin-bottom: 38px;
  }

  .tags-block__item {
    margin-bottom: 7px;
    margin-right: 7px;
  }

  .tags-block__link {
    padding: 5px 14px;
    font-size: 12px;
  }

  .tags-block {
    margin-bottom: 52px;
  }

  /* tablet shop */

  .shop-list__item {
    width: calc((100% - 20px) / 2);
    margin-bottom: 22px;
  }

  .shop-list__image {
    width: 295px;
    height: 230px;
  }

  .shop-list__product-block {
    padding: 47px 20px 27px;
    border: 3px solid #b59f5b;

    height: 100%;
  }

  .shop-list__title {
    margin-bottom: 5px;
  }

  .shop-list__description {
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 15px;
  }

  .shop-list__price {
    padding-bottom: 5px;
  }

  /* .shop-item1 {
    background-image: url("../images/shop-item-tablet1.jpg");
  }

  .shop-item2 {
    background-image: url("../images/shop-item-tablet2.jpg");
  }

  .shop-item3 {
    background-image: url("../images/shop-item-tablet3.jpg");
  } */

  /* tablet footer */

  .footer {
    padding-top: 25px;
  }

  .copyright {
    padding-top: 47px;
    padding-bottom: 40px;
    font-size: 12px;
  }

  /* mobile popup */

  .popup__close::before {
    height: 25px;
    width: 25px;
  }

  .popup__close::before {
    top: -7px;
    right: 0;
  }

  /* mobile survey */

  .survey {
    padding: 50px 30px;
  }

  .survey__header {
    margin-bottom: 40px;
  }

  .frequency-block {
    margin-bottom: 35px;
  }

  .is-subscribed-block {
    margin-bottom: 45px;
  }

  .topics-block {
    margin-bottom: 25px;
  }

  .label {
    margin-bottom: 10px;
  }

  .radio__text {
    padding-left: 20px;
  }

  .radio-group {
    padding-top: 10px;
    margin-right: 30px;
  }

  .radio-group:last-child {
    margin-right: 0;
  }

  .radio__text::before {
    top: -5px;
    left: -12px;
    width: 25px;
    height: 25px;
  }
}

@media screen and (min-height: 641px) and (max-height: 1200px) and (orientation: landscape) {
  .trend {
    min-height: 250px;
    width: calc((100% - 3px) / 4);
  }

  .trend__text {
    padding: 33px 5%;
  }

  .trend__heading {
    font-size: 14px;
  }
}

@media screen and (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
  .trend {
    min-height: 250px;
    width: calc((100% - 3px) / 2);
  }
}

/* DESKTOP */

@media screen and (min-width: 1201px) {
  .heading2 {
    font-size: 20px;
    line-height: 24px;
  }

  /* desktop logo */

  .logo__image {
    width: 179px;
  }

  /* desktop title */

  .title {
    font-size: 45px;
    line-height: 75px;
  }

  /* desktop menu */

  .menu__icon {
    display: none;
  }

  /* desktop header */

  .header {
    flex-direction: column;
    padding: 28px 0;

    background-image: url("../images/banner-bg.jpg");
  }

  .header__header {
    justify-content: space-between;
    align-items: center;
  }

  .header__title {
    width: 43%;
    min-width: 620px;
    margin: auto auto;
    padding: 100px 0;
  }

  /* desktop trends */

  .trends__header {
    padding-top: 58px;
    padding-bottom: 40px;
  }

  /* desktop trend */
  .trend {
    width: calc((100% - 3px) / 4);
    min-height: 320px;
  }

  .trend__background {
    width: 100%;
    height: 100%;
  }

  .trend__tags {
    margin-bottom: 7px;
  }

  .trend__text {
    padding-top: 37px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 33px;
  }

  /* desktop blog */
  .blog {
    justify-content: space-between;
    padding-top: 60px;
  }

  .posts {
    flex-basis: 762px;
  }

  .sidebar {
    flex-basis: 270px;
  }

  .sidebar__block {
    margin-bottom: 58px;
  }

  /* desktop post */
  .post {
    margin-bottom: 60px;
  }

  .post:last-child {
    margin-bottom: 0;
  }

  .post__image {
    width: 381px;
    height: 294px;

    margin-right: 30px;
  }

  .post__tags {
    margin-bottom: 7px;
  }

  .post__heading {
    margin-bottom: 30px;
  }

  .post__info {
    margin-bottom: 47px;

    font-size: 12px;
  }

  .post__date {
    margin-right: 10px;
  }

  .post__text {
    font-size: 15px;
    line-height: 22px;
  }

  /* desktop subscription */

  .subscription__header {
    margin-bottom: 35px;
  }

  /* desktop tags-block */
  .tags-block__header {
    margin-bottom: 35px;
  }

  /* desktop tags-block */
  .tags-block__item {
    margin-bottom: 7px;
    margin-right: 5px;
  }

  .tags-block__link {
    padding: 5px 16px;
    font-size: 12px;
  }

  /* desktop shop */

  .shop {
    padding-top: 64px;
  }

  .shop-list__item {
    width: calc(89% / 3);
  }

  .shop-list__image {
    width: 300px;
    height: 205px;
  }

  .shop-list__product-block {
    padding: 47px 20px 30px;
    border: 3px solid #b59f5b;
    height: 100%;
  }

  .shop-list__title {
    margin-bottom: 5px;
  }

  .shop-list__description {
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 15px;
  }

  .shop-list__price {
    padding-bottom: 5px;
  }

  /* .shop-item1 {
    background-image: url("../images/shop-item-desk1.jpg");
  }

  .shop-item2 {
    background-image: url("../images/shop-item-desk2.jpg");
  }

  .shop-item3 {
    background-image: url("../images/shop-item-desk3.jpg");
  } */

  /* desktop footer */

  .footer {
    padding-top: 64px;
  }

  .copyright {
    padding-top: 67px;
    padding-bottom: 50px;
    font-size: 12px;
  }

  /* desktop popup */

  .popup__close::before {
    height: 19px;
    width: 19px;
  }

  /* desktop survey */

  .survey {
    padding: 50px 30px;
  }

  .survey__header {
    margin-bottom: 40px;
  }

  .frequency-block {
    margin-bottom: 35px;
  }

  .is-subscribed-block {
    margin-bottom: 33px;
  }

  .topics-block {
    margin-bottom: 25px;
  }

  .label {
    margin-bottom: 10px;
  }

  .radio__text {
    padding-left: 13px;
  }

  .radio-group {
    margin-right: 10px;
  }

  .radio-group:last-child {
    margin-right: 0;
  }

  .radio__text::before {
    left: -10px;
    width: 17px;
    height: 17px;
  }

}

._hidden {
  display: none;
}